name: Prune Actions Runs

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

permissions:
  actions: write

jobs:
  prune:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: actions/github-script@v7
        with:
          script: |
            const perPage = 100;
            let page = 1;
            const thirtyDaysAgo = new Date();
            thirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);
            
            while (true) {
              const { data } = await github.rest.actions.listWorkflowRunsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
                per_page: perPage,
                page,
              });
              if (!data.workflow_runs.length) {
                break;
              }
              for (const run of data.workflow_runs) {
                const runDate = new Date(run.created_at);
                const isOld = runDate < thirtyDaysAgo;
                const isCompleted = run.status === 'completed';
                
                if (isOld && isCompleted) {
                  await github.rest.actions.deleteWorkflowRun({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    run_id: run.id,
                  });
                }
              }
              page += 1;
            }
