name: Prune Actions Runs

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

permissions:
  actions: write

jobs:
  prune:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: actions/github-script@v7
        with:
          script: |
            const perPage = 100;
            let page = 1;
            const currentRunId = context.runId;
            let deleted = 0;

            while (true) {
              const { data } = await github.rest.actions.listWorkflowRunsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
                per_page: perPage,
                page,
              });
              if (!data.workflow_runs.length) {
                break;
              }
              for (const run of data.workflow_runs) {
                const isCompleted = run.status === 'completed';
                const isCurrent = run.id === currentRunId;
                if (isCompleted && !isCurrent) {
                  await github.rest.actions.deleteWorkflowRun({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    run_id: run.id,
                  });
                  deleted += 1;
                }
              }
              page += 1;
            }
            core.info(`Deleted ${deleted} completed workflow runs.`);
